.show-select-dates {
    display: flex;
}

.show-date {
    padding: 20px;
    border: 1px solid #596158;
    color: white;
    background: gray;
}

.show-date.active {
    background: #158eec;
}

.show-header {
    display: flex;
    background-color: #596158;
    color: white;
    font-size: 14px;
}

.show-tickets, .show-dates {
    display: flex;
    align-items: center;
    margin: 5px 15px;
}

.show-dates {
    width: 100%;
}
.show-select-dates, .show-select-tickets {
    height: 100%;
    margin-left: 15px;
    cursor: pointer;
}

.show-select-tickets {
    color: white;
    font-size: 15px;
    padding: 5px;
    height: 40px;
    width: 40px;
    background-color: black;
}

.shows-not-available {
    padding: 100px;
    background-color: #596158;
    color: white;
    font-size: 18px;
    text-align: center;
    height: 300px;
}